### The actual file will not contain comments ###
# Player's Faery Control Points #
2 # Number of players with control points
4 # Number of control points
-5,0,5 # x,y,z
-5,5,5
0,5,-5
0,0,-5
4
-5,0,5
-5,5,5
0,5,-5
0,0,-5
# Bezier Surface Control Points #
16 # Number of control points

-100,7,-100 # x,y,z
-100,-10,-34
-100,2,32
-100,13,98
-34,-12,-100
-34,10,-34
-34,14,32
-34,5,98
32,-8,-100
32,14,-34
32,-19,32
32,-7,98
98,-13,-100
98,-9,-34
98,12,32
98,-2,98
# Bezier Roller Coaster Control Points #
